.hidden {
    display: none;
}

.reset {
    background-color: #FBFBC9;
}

.reset:hover {
    background-color: #EAEA9D;
}

.privacy-screen:hover {
    background-color: #CFF2F2;
}

.privacy-screen {
    background-color: #E5F2F2;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}